<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignmenttracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AddSemesterActivity"
            android:label="@string/title_activity_add_semester" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddAssignmentActivity"
            android:label="@string/title_activity_add_assignment" >
        </activity>
        <activity
            android:name=".UpdateAssignmentActivity"
            android:label="@string/title_activity_update_assignment" >
        </activity>
        <activity
            android:name=".AddCourseActivity"
            android:label="@string/title_activity_add_course" >
        </activity>
        <activity
            android:name=".ShowSemestersActivity"
            android:label="@string/title_activity_show_semesters" >
        </activity>
    </application>

</manifest>
